<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="colors">
	<material name="white">
		<color rgba="1 1 1 1"/>
	</material>

	<material name="black">
	    <color rgba="0 0 0 1"/>
	</material>

	<material name="yellow">
	    <color rgba="222 184 0 1"/>
	</material>

	<material name="cyan">
	    <color rgba="0 245 220 1"/>
	</material>

	<material name="redish">
	    <color rgba="255 0 0 0.5"/>
	</material>

	<material name="orange">
		<color rgba="249 105 14 1"/>
	</material>
</robot>